<ion-view>
    <ion-nav-title>
        О программе
    </ion-nav-title>

    <ion-nav-buttons side="secondary">
    </ion-nav-buttons>

    <ion-content overflow-scroll='true'>

        <div id="about" class="large article">
            <p>Мы устали ждать обновления оригинального приложения или мобильную версию сайта,
                поэтому
                решили написать приложение для себя и всех тех кто любит читать с комфортом новости
                со
                своих мобильных приложений.</p>
            <ul>
                <li>Приложение пишется на полном энтузиазме в свободное от работы время</li>
                <li>Мы против компаний которые за безумные бюджеты пишут приложения и не
                    поддерживают их
                    в дальнейшем, поэтому проект будет полностью открыт и выложен на <a
                            href="https://github.com/novayagazeta-app/" target="_blank">Github</a></li>
                <li>Мы за простоту и стараемся делать как можно более универсальные решения. Поэтому
                    проект решено делать на кроссплатформенных технологиях.
                </li>
            </ul>
            <p>У нас большие планы на будущее и планируем сделать:</p>
            <ul>
                <li>Дополнить базовый функционал
                    <ul>
                        <li>Выборка новостей по автору</li>
                        <li>Поддержка голосований</li>
                        <li>Авторизация для комментирования</li>
                        <li>Помечать статьи как прочитанные или добавлять в избранное</li>
                        <li>Настройка шрифтов/цветов/т.д</li>
                    </ul>
                </li>
                <li>Оффлайн режим</li>
                <li>Версию для Android</li>
                <li>Оптимизация под планшеты</li>
            </ul>
        </div>

    </ion-content>

</ion-view>
