<ion-view>
    <ion-nav-title>
        Новость
    </ion-nav-title>

    <ion-nav-buttons side="secondary">
        <button
                ng-click="share()"
                class="button button-icon icon ion-ios-upload-outline"></button>
        <a ng-class="{disabled: !article.comments_count}" class="button button-icon icon ion-ios-chatbubble-outline comments_count" href="#/app/comments/{{ ::article.article_id }}">{{ ::article.comments_count }}</a>
    </ion-nav-buttons>

    <ion-content>
        <div class="article large">
            <h2 class="title">{{ ::article.title }}</h2>
            <br/>
            <div class="content b-article g-content g-clearfix" ng-bind-html="::article.article_body"></div>
        </div>

        <ul>
            <li ng-repeat="photo in article.photos">
                <a href="{{photo.image_url}}" class="swipebox" title="{{photo.title}}">
                    <img src="{{photo.image_url}}" alt="image">
                </a>
            </li>
        </ul>

    </ion-content>

</ion-view>
