<ion-view>
    <ion-nav-title>
        {{ ::current_rubric.title }}
    </ion-nav-title>

    <ion-content>

        <ion-refresher
                on-refresh="update_articles()">
        </ion-refresher>

        <ion-list>
            <ion-item class="item-thumbnail-left"
                      collection-repeat="article in articles"
                      href="#/app/article/{{ ::article.article_id }}">
                <img ng-src="{{ ::article.image_url }}" width="80">
                <h2>{{ ::article.title }}</h2>
                <p>{{ ::article.description }}</p>
                <p>
                    <i class="icon ion-ios-eye-outline"></i> {{ ::article.views_count }}
                    <i class="icon ion-ios-chatbubble-outline"></i> {{ ::article.comments_count }}
                </p>
            </ion-item>
        </ion-list>

        <ion-infinite-scroll
                ng-if="!stop_loading_articles"
                on-infinite="more_articles()"
                distance="20%">
        </ion-infinite-scroll>

    </ion-content>
</ion-view>
