<ion-view>
    <ion-nav-title>
        Новость
    </ion-nav-title>

    <ion-nav-buttons side="secondary">
        <button
                ng-click="share()"
                class="button button-icon icon ion-ios-upload-outline"></button>
        <a ng-class="{disabled: !article.comments_count}" class="button button-icon icon ion-ios-chatbubble-outline comments_count" href="#/app/comments/{{ ::article.article_id }}">{{ ::article.comments_count }}</a>
    </ion-nav-buttons>

    <ion-content>
        <div class="article large">
            <h2 class="title">{{ ::article.title }}</h2>
            <br/>
            <div class="content b-article g-content g-clearfix" ng-bind-html="::article.article_body"></div>
        </div>

        <ion-slide-box on-slide-changed="slideChanged(index)" show-pager="false">
            <ion-slide ng-repeat="photo in article.photos">
                <img ng-src="{{photo.image_url}}" class="fullscreen-image" />
            </ion-slide>
        </ion-slide-box>


    </ion-content>

</ion-view>
