<ion-view>
  <ion-nav-title>
    Комментарии
  </ion-nav-title>

  <ion-content overflow-scroll='true'>

    <script type="text/ng-template" id="comment">
      <div class="comment_item l{{ ::comment.level}}">
        <div class="meta">
          <h5 class="username" ng-bind="::comment.author"></h5>
        </div>
        <div class="text" ng-bind-html="::comment.text"></div>
      </div>

      <ng-include ng-repeat="comment in ::comment.comments" src="'comment'"></ng-include>
    </script>

    <div class="comments comments_list large">
      <ng-include ng-repeat="comment in ::comments" src="'comment'"></ng-include>
    </div>
  </ion-content>
</ion-view>
