<ion-view>
  <ion-nav-title>
    Комментарии
  </ion-nav-title>

  <ion-content>

    <script type="text/ng-template" id="comment">
      <div class="comment_item l{{ ::comment.level}}">
        <div class="meta">
          <span class="username">{{ ::comment.author }}</span>
        </div>
        <div class="text">{{ ::comment.text }}</div>
      </div>
      <ng-include ng-if="::comment.comments" ng-repeat="comment in ::comment.comments" src="'comment'"></ng-include>
    </script>

    <div class="comments_list">
      <ng-include ng-repeat="comment in ::comments" src="'comment'"></ng-include>
    </div>
  </ion-content>
</ion-view>
