.comments {
  @extend .base;
}

.comments_list .comment_item {
  padding: 15px;
  position: relative;
}

.comments_list .comment_item .meta {
  margin-bottom: 5px;
}

.comments_list .comment_item .meta .username {
  font-weight: bold;
  color: #4f6173;
  margin-right: 10px;
}

@for $i from 1 through 20 {
  .comments_list .comment_item.l#{$i} {
    padding-left: $i*10+15px;
  }
}
